<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://Java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project1-ers</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>HTMLRouter</servlet-name>
  	<servlet-class>com.revature.project1.servlets.HtmlRouterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HTMLRouter</servlet-name>
  	<url-pattern>*.view</url-pattern>
  
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>APIRouter</servlet-name>
  	<servlet-class>com.revature.project1.servlets.APIRouterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>APIRouter</servlet-name>
  	<url-pattern>*.api</url-pattern>
  
  </servlet-mapping>
</web-app>